nav {
  padding-top: 2%;
  height: 100vh;
  width: 15vw;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

nav h1 {
  cursor: pointer;
  padding-bottom: 20%;
  padding-left: 15%;
}

.title-container {
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  margin: 5% 0;
  padding: 5% 0 5% 15%;
  text-transform: capitalize;
  cursor: pointer;
}

nav li:hover {
  background-color: #a3ffe7;
}
