nav {
  display: flex;
  flex-grow: 1;
  padding: 1.5% 0;
}

nav h1 {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1.5%;
  margin-bottom: 8.5px;
  /* text-decoration-line: underline;
  text-decoration-style: wavy; */
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

nav li {
  font-size: 0.85em;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 2%;
  width: min-content;
  padding: 0.75% 0.75%;
  border-bottom: solid 3px #fff;
}

nav li:hover {
  border-bottom: solid 3px #a3ffe7;
}
