* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content-wrapper {
  height: 100vh;
  flex-grow: 1;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  min-height: 75px;
  padding: 0 2.5%;
}
