* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content-wrapper {
  height: 100vh;
  flex-grow: 1;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  min-height: 70px;
  padding: 0.25% 2.5% 0 2.5%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
}
