.search-field-container {
  padding-top: 7.5px;
  height: 10vh;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 2.5% 0 2.5%;
}

.search-field-container button {
  font-size: 1.25rem;
  background-color: #fff;
  padding: 0.5%;
  min-width: 100px;
}

.search-field-container input {
  font-size: 1.25rem;
}
