.search-field-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5% 0 0 2.5%;
}

.search-field-container button {
  background-color: #a3ffe7;
  border: solid 0.25px grey;
  border-radius: 2.5%;
  font-size: 1rem;
  min-width: 50px;
  height: 45%;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-field-container input {
  padding-left: 5%;
  margin-right: 12.5px;
  border: solid 0.25px grey;
  font-size: 1rem;
  height: 40%;
  border-radius:  5px 0 0 5px;
}

.search-field-container input::placeholder {
  font-style: italic;
}
